body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-weight: bolder;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 5px;
}

.row {
  /* white-space: pre-wrap; */
  height: 40px;
  border-top: 1px solid white;
}

.hour {
  background-color: black;
  color: white;
  border-top: 2px dashed #000000;
  border-color: white;
  padding-top: 5px;
}


.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bolder;
}

.saveBtn i:hover {
  font-size: 10px;
  transition: all .3s ease-in-out;
}
